[submodule "src/tf-pose-estimation"]
	path = src/tf-pose-estimation
	url = https://github.com/kevin-chau/tf-pose-estimation
[submodule "src/open_face_recognition"]
	path = src/open_face_recognition
	url = https://github.com/koide3/open_face_recognition
[submodule "src/monocular_person_following"]
	path = src/monocular_person_following
	url = https://github.com/kevin-chau/monocular_person_following
[submodule "src/monocular_people_tracking"]
	path = src/monocular_people_tracking
	url = https://github.com/kevin-chau/monocular_people_tracking
[submodule "src/ccf_person_identification"]
	path = src/ccf_person_identification
	url = https://github.com/kevin-chau/ccf_person_identification
[submodule "src/image_common"]
	path = src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "src/image_transport_plugins"]
	path = src/image_transport_plugins
	url = https://github.com/kevin-chau/image_transport_plugins.git
[submodule "src/vision_opencv"]
	path = src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
[submodule "src/image_pipeline"]
	path = src/image_pipeline
	url = https://github.com/kevin-chau/image_pipeline.git
